html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#app {
  margin-top: 20px;
  text-align: center;
}

#app canvas {
  border-right: 1px solid #aaaaaa40;
  border-bottom: 1px solid #aaaaaa40;
  background-image:
  linear-gradient(#aaaaaa40 1px, transparent 0),
  linear-gradient(90deg, #aaaaaa40 1px, transparent 0),
  linear-gradient(#aaa 1px, transparent 0),
  linear-gradient(90deg, #aaa 1px, transparent 0);
  background-size: 10px 10px, 10px 10px, 50px 50px, 50px 50px;
}